#catalog {
   background-color: var(--color-corp2);
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
   padding: var(--spacing-large) 0;
}
.catalog-container {
   padding: 10px 20px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 45px;
   width: 80%;
   max-width: 1200px;
   margin: var(--spacing-large) auto;
}
.catalog-item {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 25px 20px;
   background-color: var(--color-white);
   box-shadow: var(--shadow-guarantee);
   border-radius: var(--border-radius-medium);
}
.c-item__type {
   margin-bottom: auto;
   font-weight: bold;
}
.c-item__img {
   margin-top: var(--spacing-medium);
   width: 100%;
   height: 200px;
   object-fit: contain;
   background-color: var(--color-guarantee-bg);
   border-radius: var(--border-radius-medium);

}
.c-item__season {
   margin-top: var(--spacing-medium);
   padding: var(--spacing-small) var(--spacing-medium);
   cursor: pointer;
   outline: none;
   background: none;
   font-family: inherit;
   font-size: inherit;
}
.c-item__price {
   margin-top: var(--spacing-medium);
   color: var(--color-corp);
   font-weight: bold;
}
.sizes-enable{
   display: flex;
   justify-content: flex-start;
   gap: 8px;
}
.size{
   border-radius: var(--border-radius-small);
   background-color: var(--color-corp);
   color:var(--color-white);
   padding: 4px;
   font-size: 14px;
}
