#catalog {
   background-color: var(--color-white);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0;
}

.catalog-container {
   padding: 10px 20px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 40px;
   max-width: 1200px;
   margin: 10px auto;
   user-select: none;

}
.catalog-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px;
   background-color: var(--color-white);
   box-shadow: var(--shadow);
   border-radius: var(--border-radius-medium);
   position: relative;
}
.show-item {
   display: initial;
}
.hide-item {
   display: none;
}

.c-item__img {
   background-color: #0cc;
   height: 200px;
   width: 100%;
}
.c-item__name {
   margin: 10px 0;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5;
}
.c-item__color {
   margin-bottom: 5px;
   font-size: 15px;
   font-weight: 500;
   line-height: 1.33;
}
.c-item__color span {
   font-weight: 400;
}
.c-item__season {
   margin-bottom: 5px;
   font-size: 15px;
   font-weight: 500;
   line-height: 1.33;
}
.c-item__season span {
   font-weight: 400;
}
.c-item__outside {
   margin-bottom: 5px;
   font-size: 15px;
   font-weight: 500;
   line-height: 1.33;
}
.c-item__outside span {
   font-weight: 400;
}
.c-item__inside {
   margin-bottom: 5px;
   font-size: 15px;
   font-weight: 500;
   line-height: 1.33;
}
.c-item__inside span {
   font-weight: 400;
}
.c-item__size {
   display: flex;
   margin: 10px 0;
   justify-content: space-between;
}
.size {
   background-color: #98d6cc;
   border-radius: var(--border-radius-small);
   height: 35px;
   width: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.33;
}
/* price-start */
.c-item-price__block {
   margin: 0 0 10px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.action-disabled {
   display: none;
}
.action-enabled {
   text-align: center;
   color: red;
   font-size: 28px;
   font-weight: 700;
   line-height: 28px;
   margin-right: 20px;
}
.c-item-price__elem {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.img-invisible {
   display: none;
}
.img-visible {
   position: absolute;
   left: 0;
   z-index: 1;
   width: 100%;
   margin: 0;
   padding: 0;
}
.price-active {
   font-size: 22px;
   font-weight: 700;
   color: var(--color-black);
   line-height: 28px;
}
.price-inactive {
   color: #777;
   font-size: 18px;
   font-weight: 700;
   line-height: 28px;
}
/* price-end */
.c-item__art {
   display: flex;
   align-self: stretch;
   justify-content: flex-end;
   height: 40px;
}
.art__text {
   background-color: #98d6cc;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   font-weight: 600;
   line-height: 22px;
   flex: 1 1 auto;
   border: 2px solid var(--color-corp);
   user-select:text;
}
.art__text span {
   font-weight: 400;
   margin-right: 10px;
   user-select: none;
}
.art__textarea {
   border: none;
   padding: 0;
   margin: 0;
   font-size: inherit;
   font-family: inherit;
   line-height: inherit;
   background-color: transparent;
   resize: none;
   overflow: hidden;
   vertical-align: middle;
   color: inherit;
   font-weight: 600;
   height: 22px;
   width: 100px;
   user-select: none;
   pointer-events: none;
}
.art__button {
   background-color: var(--color-corp);
   padding: 11px;
   cursor: pointer;
}
.art__button:hover {
   background-color: var(--color-corp-hover);
}
.art__img {
   height: 20px;
   width: 20px;
   user-select: none;
}

.copied::before {
   position: absolute;
   font-size: calc((50vw / 100) * 1.4);
   bottom: 0px;
   left: 30px;
   content: "Текст був успішно скопійований в буфер обміну";
   z-index: 3;
}
.catalog-item span{
color:#333;
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
   .catalog-container {
      max-width: 992px;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   }
   .catalog-item {
      padding: 20px 15px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
   .catalog-container {
      max-width: 100vw;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
}
@media only screen and (min-width: 560px) and (max-width: 767.99px) {
   .catalog-container {
      max-width: 100vw;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   }
}
@media only screen and (min-width: 320px) and (max-width: 559.99px) {
   .catalog-container {
      max-width: 350px;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      padding: 0 5px;
   }
   .c-item__img{
      height: auto;
      width: 100%;
   }
   .c-item__size {
   display: flex;
   margin: 10px 0;
   justify-content: space-around;
}
.size {
   background-color: #98d6cc;
   border-radius: var(--border-radius-small);
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.33;
}
   
}
