#shops {
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}
.shops-container {
   padding:20px;
   width: 1200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.shops__title {
   color: var(--color-corp);
   font-size: 40px;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
   margin-bottom: 20px;
}

.shops-block {
   display: flex;
   justify-content: space-between;
   color: var(--color-white);
}
.shops-item {
   position: relative;
   width: 275px;
   height: 350px;
   border-radius: var(--border-radius-small);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 10px 30px;
}
.shops-item__title {
   font-size: 30px;
   line-height: 1.5;
   letter-spacing: 1.5px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: var(--spacing-large);
}

.shops-item__subtitle {
   display: none;
   margin-bottom: var(--spacing-small);
   font-size: 10px;
   line-height: 1.5;
   font-weight: 500;
   font-style: italic;
   height: 20px;
   vertical-align: top;
}
.shops-item__address {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 50px;
   text-align: center;
}

.shops-item__schedule {
   text-align: center;
   margin-bottom: 45px;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.5;
   font-style: italic;
}
.shops-item__schedule:before,
.shops-item__schedule::after {
   content: "------------------------------";
   color: var(--color-corp);
   letter-spacing: -2px;
   font-weight: 700;
   line-height: 1;
}
.shops-item__phone {
   align-self: stretch;
   text-align: center;
   margin: 0 10px 32px;
   padding: 2px auto;
   background-color: var(--color-corp);
   background-color: rgba(0, 134, 138, 0.6);
   color: var(--color-white);
   font-size: 17px;
   font-weight: 900;
   line-height: 1.5;
   letter-spacing: 1px;
   border-radius: var(--border-radius-medium);
}
#shops .hoverable:hover{
   background-color: transparent;
   background: linear-gradient(to bottom, var(--color-corp), rgb(0,108,110));
}
.shops-item__img {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
   .shops-container {
      width: 992px;
   }
   .shops-item {
      width: 230px;
      height: 300px;
      padding: 20px 10px;
   }
   .shops-item__title {
      line-height: 1;
      letter-spacing: 1px;
   }
   .shops-item__address {
      height: 24px;
      margin-bottom: 26px;
   }
   .shop-address-2.shops-item__address {
      padding: 0 35px;
   }
   .shop-address-3.shops-item__address {
      padding: 0 30px;
   }
   .shops-item__schedule {
      margin-bottom: 25px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
   .shops-container {
      width: 768px;
      padding: var(--spacing-large) 10px;
   }
   .shops-item {
      width: 180px;
      height: 235px;
      padding: 20px 5px;
   }
   .shops-item__title {
      line-height: 1;
      letter-spacing: 1px;
      font-size: 24px;
   }
   .shops-item__subtitle {
      font-size: 8px;
      line-height: 1;
      height: 10px;
      margin-bottom: 17px;
   }
   .shops-item__address {
      height: 18px;
      margin-bottom: 26px;
      font-size: 12px;
   }
   .shop-address-2.shops-item__address {
      padding: 0 35px;
   }
   .shop-address-3.shops-item__address {
      padding: 0 30px;
   }
   .shops-item__schedule {
      font-size: 10px;
      margin-bottom: 15px;
   }
   .shops-item__phone {
      font-size: 16px;
   }
}
@media only screen and (min-width: 560px) and (max-width: 767.99px) {
   .shops-container {
      width: 560px;
      padding: var(--spacing-medium) 10px;
   }
   .shops-block {
      flex-wrap: wrap;
   }
   .shops-item {
      margin-bottom: 20px;
      width: 48%;
   }
}
@media only screen and (min-width: 320px) and (max-width: 559.99px) {
   .shops-container {
      width: 100vw;
      padding: var(--spacing-medium) 5px;
   }
   .shops__title {
      font-size: 24px;
   }
   .shops-block {
      display: grid;
      max-width: 100%;
      height: 120vw;
      grid-template-columns: 5fr 5fr;
      grid-template-rows: 6fr 6fr;
      grid-gap: 5px;
   }
   .shops-item {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: calc((50vw / 100) * 12) 0;
      justify-content: space-between;
   }
   .shops-item__title {
      margin: 0;
      line-height: 1;
      letter-spacing: 0.5px;
      font-size: calc((50vw / 100) * 12);
   }
   .shops-item__address {
      margin: 0;

      height: calc((50vw / 100) * 8);
      font-size: calc((50vw / 100) * 6);
   }
   .shop-address-2.shops-item__address {
      padding: 0;
   }
   .shop-address-3.shops-item__address {
      padding: 0;
   }
   .shops-item__schedule {
      font-size: calc((50vw / 100) * 6);
      margin: 0;
   }
   .shops-item__phone {
      font-size: calc((50vw / 100) * 8);
      margin: 0 5px;
      padding: 0;
   }
}
